body {
  font-family: Source Code Pro;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}

.container {
  max-width: 648px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.input-title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
}

.main {
  background-color: black;
  color: white;
}

.main__content {
  display: flex;
  justify-content: space-between;
}

.main__container {
  max-width: calc((100% - 648px)/2 + 648px);
  margin-left: calc((100% - 648px) / 2);
}

.main__title {
  margin: 30px 0px 12px 0px;
}

.main__info {
  font-size: 14px;
  line-height: 17px;
  max-width: 380px;
  font-weight: 400;
  margin-right: 30px;
}

.main__img {
  max-height: 250px;
  flex: 1;
}

.main__img img {
  width: 100%;
  height: 100%;
  object-fit: none;
}

.form {
  margin: 37px 0px 40px 0px;
}

.form__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 15px;
  grid-template-areas:
    "range range"
    "select radio"
    "name age"
    "checkbox checkbox";
}

.form__range {
  grid-area: range;
  width: calc(50% - 15px);
}

.form__range-inputs {
  display: flex;
  margin-bottom: 20px;
}

.form__range-min {
  width: 100%;
  margin-right: 14px;
}

.form__range-max {
  width: 100%;
}

.form__range-range {
  position: relative;
  margin-bottom: 30px;
}

.form__range-range input {
  width: calc(50% - 15px);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  background-color: transparent;
  pointer-events: none;
}

.form__slider-track {
  width: 100%;
  height: 1px;
  position: absolute;
  margin: auto;
  border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 1px;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 1px;
}

input[type="range"]::-ms-track {
  appearance: none;
  height: 1px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  background-color: #3A41FF;
  cursor: pointer;
  margin-top: -4px;
  pointer-events: auto;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3A41FF;
  pointer-events: auto;
  border: none;
}

input[type="range"]::-ms-thumb {
  appearance: none;
  height: 10px;
  width: 10px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #3A41FF;
  pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 1px solid #3A41FF;
}

.form__checkboxes {
  grid-area: checkbox;
  margin-bottom: 24px;
  display: flex;
}

.form__checkboxes-item {
  margin-right: 20px;
}

.form__checkboxes-item:last-child {
  margin-right: 0;
}

.form__wrapper form {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.form__title {
  margin-bottom: 15px;
}

.form__languages {
  font-size: 14px;
}

.form__languages-input {
  display: flex;
  gap: 20px;
}

.form__languages-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

input[type="radio"] {
  display: none;
}

.custom-radio {
  width: 15px;
  height: 15px;
  border: 1px solid #000;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.custom-radio::after {
  content: '';
  width: 15px;
  height: 15px;
  background: #3A41FF;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

input[type="radio"]:checked+.custom-radio::after {
  opacity: 1;
}

input[type="radio"]:checked+.custom-radio {
  border: 1px solid #3A41FF;
}

.input {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  padding: 5px;
  font-family: Source Code Pro;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.form__select {
  grid-area: select;
}


select::-ms-expand { 
  display: none;
}

.form__select-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  background-image: url('../source/icons/arrow-down.svg');
  background-position: right 10px center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
}

.select-active {
  background-image: url('../source/icons/arrow-up.svg');
  background-position: right 10px center;
  background-size: 10px 10px;
  background-repeat: no-repeat;
}


.form__name {
  grid-area: name;
}

.form__age {
  grid-area: age;
}

.form__radio {
  grid-area: radio;
}

input[type='checkbox'] {
  accent-color: #3A41FF;
  width: 15px;
  height: 15px;
  cursor: pointer;
}


.form__btn {
  width: 150px;
  height: 38px;
  color: white;
  background-color: #3A41FF;
  font-family: Source Code Pro;
  -webkit-box-shadow: 39px 41px 0px 0px rgba(34, 60, 80, 1);
  -moz-box-shadow: 39px 41px 0px 0px rgba(34, 60, 80, 1);
  box-shadow: 10px 5px 0px 0px rgba(34, 60, 80, 1);
  transition: all .3s;
}

.form__btn:hover {
  background-color: white;
  color: #3A41FF;
}

.description {
  margin-bottom: 36px;
}

.description__title {
  margin-bottom: 10px;
}

.description__text {
  font-size: 14px;
  line-height: 17px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: black;
  margin-bottom: 25px;
}

.footer {
  font-size: 12px;
  margin-bottom: 12px;
}

.modal-box {
  width: 400px;
  height: 30vh;
}

dialog {
  
  border: none;
  -webkit-box-shadow: 39px 41px 0px 0px rgb(0, 0, 0);
  -moz-box-shadow: 39px 41px 0px 0px rgb(0, 0, 0);
  box-shadow: 10px 5px 0px 0px rgb(0, 0, 0);
}

dialog::backdrop {
  background-color: #000;
  opacity: .7;
}